<html>
	<head>
		<title>Candidate Houses</title>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="js/modules/inputParser.js"></script>
		<script src="js/modules/requestCreator.js"></script>
		<script src="js/app.js"></script>
		<script src="js/houseAddingController.js"></script>
		<script src="js/mapController.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
		
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="style/style.css" />
	</head>
	<body ng-app="houseTracking">
		<div id="app">
			<div id="addBar" class="add_bar" ng-controller="houseAddingController">
				<div class="input-group">
			  		<div class="input-group-addon">
						<span class="glyphicon glyphicon-home"></span> 
			  		</div>
			  		<input id="address" type="text" placeholder="Input Address" class="form-control input-sm" ng-model="address"/>
			  		<span class="input-group-btn">
						<button id="addAddr" type="button" class="btn btn-success btn-sm" ng-click="add()">Add <span class="glyphicon glyphicon-plus"></span></button>
			  		</span>
			  	</div>
			</div>
		
			<div class="container my_custom_container">
			  	<ul class="nav nav-tabs">
				   	<li class="active"><a href="#redmond" data-toggle="tab">Redmond</a></li>
				   	<li><a href="#kirkland" data-toggle="tab">Kirkland</a></li>
					<li><a href="#bellevue" data-toggle="tab">Bellevue</a></li>
				</ul>
				<br>
				<div class="tab-content">
				  	<div id="redmond" class="tab-pane active">
	        			<yanxu></yanxu>
					</div>
					<div id="kirkland" class="tab-pane">
	        			<h3>Kirkland</h3>
					</div>
	        		<div id="bellevue" class="tab-pane">
	        			<h3>Bellevue</h3>
					</div>
				</div>
	  		</div>

	  		<div id="map" ng-controller="mapController">

	  		</div>
		</div>
	</body>
</html>