<html>
	<head>
		<title>House Tracker</title>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOplY8KvzVh5BMcYRosmuSsbKoi3olP0k" 
			type="text/javascript"></script>

		<script src="js/modules/inputParser.js"></script>
		<script src="js/modules/idPool.js"></script>
		<script src="js/modules/requestCreator.js"></script>
		<script src="js/modules/eventManager.js"></script>
		<script src="js/app.js"></script>
		<script src="js/houseAddingController.js"></script>
		<script src="js/paneMapController.js"></script>
		<script src="js/paneController.js"></script>
		<script src="js/tabController.js"></script>
		<script src="js/listController.js"></script>
		<script src="js/mapController.js"></script>
		
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="style/style.css" />
		<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
	</head>
	<body ng-app="houseTracking">
		<div id="app">
			<div id="addBar" class="add_bar" ng-controller="houseAddingController">
				<div class="input-group">
			  		<div class="input-group-addon">
						<span class="glyphicon glyphicon-home"></span> 
			  		</div>
			  		<input id="address" type="text" placeholder="Input Address" class="form-control input-sm" ng-model="address"/>
			  		<span class="input-group-btn">
						<button id="addAddr" type="button" class="btn btn-success btn-sm" ng-click="add()">
							Add	<span class="glyphicon glyphicon-plus"></span>
						</button>
			  		</span>
			  	</div>
			</div>
		
			<div ng-controller="paneMapController">
				<div class="container my_custom_container" ng-class="getPaneStyle()">
					<pane>
						<tab title="redmond">
							<p>Lorem ipsum dolor sit amet</p>
							<list region="redmond"></list>
						</tab>
						<tab title="bellevue">
							<em>Mauris elementum elementum enim at suscipit.</em>
							<list region="bellevue"></list>
						</tab>
						<tab title="kirkland">
							<em>Mauris elementum elementum enim at suscipit.</em>
							<list region="kirkland"></list>
						</tab>
					</pane>

					<div id="paneToggler">
	  					<i class="fa" ng-class="getToggleButtonStyle()"></i>
	  				</div>
				</div>



				<!-- The property list pane on the left --><!--
				<div class="container my_custom_container" ng-class="getPaneStyle()" ng-controller="paneController" ng-model="house_data">
			  		<ul class="nav nav-tabs">
			  			<li assign-id ng-class="{active: $index == 0}" ng-repeat="(region, house_list) in house_data" ng-controller="tabController">
			  				<a data-toggle="tab">{{region}}</a>
			  			</li>
					</ul>
					<br>
					<div class="tab_content">
						<list re-render="onTabChange"></list>
					</div>
					
	  			</div>-->
	  		
	  			<div id="map" class="map" ng-class="getMapFrameStyle()" ng-controller="mapController" />
			</div>
		</div>
	</body>
</html>