#app {
	position: absolute;
	height: 100%;
	width: 100%;
}

.add_Bar {
	width: 100%;
	height: 3%;
}

.nav>li>a {
	padding: 10px 3px;
}

@media (min-width: 800px) {
.my_custom_container {
	position: absolute;
    width: 20%;
    height: 97%;
    padding-left: 1px;
    padding-right: 0px;
    border-right: 1px solid #ddd;
}}

.my_custom_container_hide {
	left: -18%;
}

#map {
	position: absolute;
	left: 20%;
	width: 80%;
	height: 97%;
	border: 1px solid #ddd;
}

#paneToggler {
	position: relative;
	left: 95%;
	bottom: 55%;
	width: 15px;
	height: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}

#paneToggler:hover {
	background-color: rgb(230, 230, 230);
}