<!-- Reference: http://www.codeproject.com/Articles/987311/Collapsible-Responsive-Master-Child-Grid-Using-Ang -->
<div ng-repeat="house in houses">
    <div class="row panel panel-body" ng-click="onItemSelect($index)">
        <div class="col-xs-1">
            <div class="handpointer glyphicon glyphicon-chevron-right"
             data-ng-click="collapse($event)" data-target="#view_{{house._id}}"
             data-toggle="collapse" aria-expanded="false"
             aria-controls="view_{{house.street}}">
            </div>
        </div>
        <div class="col-sm-8 col-xs-12" data-ng-bind="house.street"></div>
        <button id="house_delete_btn" type="button"
            class="btn btn-danger btn-xs house-delete-btn"
            ng-click="deleteHouse($index)"
            ng-show="$index === active_index">
            Delete
        </button>
    </div>
    <div class="collapse col-sm-11 house_detail_table" id="view_{{house._id}}">
        <div class="col-sm-offset-1">
            <table class="table-condensed responsive-table">
                <tr class="row">
                    <td>year</td>
                    <td data-ng-bind="house.year"></td>
                </tr>
                <tr class="row">
                    <td>square feet</td>
                    <td data-ng-bind="house.sqf"></td>
                </tr>
                <tr class="row">
                    <td>price</td>
                    <td data-ng-bind="house.price"></td>
                </tr>
                <tr class="row">
                    <td>bed bath</td>
                    <td data-ng-bind="house.bed_bath"></td>
                </tr>
                <tr class="row">
                    <td>link</td>
                    <td>
                        <a target="_blank" href="{{house.link}}">{{house.link}}</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>